# QuantForge Application Environment Configuration Example
# Copy this file to .env and modify the values as needed.

# redis settings
QUANTFORGE_REDIS_HOST=127.0.0.1
QUANTFORGE_REDIS_PORT=6379
QUANTFORGE_REDIS_DB=0
QUANTFORGE_REDIS_PASSWORD=your_redis_password

# PostgreSQL settings
QUANTFORGE_PG_HOST=localhost
QUANTFORGE_PG_PORT=5432
QUANTFORGE_PG_USER=postgres
QUANTFORGE_PG_PASSWORD=your_postgres_password
QUANTFORGE_PG_DB=postgres

# Dynaconf settings
REDIS_ENABLED_FOR_DYNACONF=true
REDIS_HOST_FOR_DYNACONF=localhost
REDIS_PORT_FOR_DYNACONF=6379
REDIS_PASSWORD_FOR_DYNACONF=your_redis_password
ENVVAR_PREFIX_FOR_DYNACONF=QUANTFORGE