[BINANCE.LIVE]
API_KEY = "your_api_key"
SECRET = "your_api_secret"

[SCHWAB]
CALLBACK_URL = "https://127.0.0.1:8000/api/brokers/schwab/auth/callback"

[SCHWAB.MARKET_DATA]
CLIENT_ID = "your_market_data_client_id"
CLIENT_SECRET = "your_market_data_client_secret"

[SCHWAB.TRADING]
CLIENT_ID = "your_accounts_and_trading_client_id"
CLIENT_SECRET = "your_accounts_and_trading_client_secret"
